/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v2.0.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/
.video-preview-andrew {
	background-image: url(../img/preview-video-andrew.webp) !important; 
}

.modal-content {
	background-color: black;
}

.modal-body {
	height: 90vh;
}

.porto-media {
	margin-bottom: 30px;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 1000px;
  }
}