              <div id="inline-porto-kadence" class="modal-dialog lity-hide">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title video-title">VR Store Platform (Kadence International)</h3>
                  </div>
                  <div class="modal-body overflow-auto">
                    <h5 class="video-title">About</h5>
                    <p class="video-description">Kadence innovates by choosing Virtual World as a medium for conducting the platform for research. The platform shows marketplace research conclusions on customers inexpensively without additional costs.</p>
                    <img class="img-fluid porto-media" src="https://static.wixstatic.com/media/0a6e18_9f8816b524b54df2aae5cf4d86a58e6d~mv2.png/v1/fill/w_600,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0a6e18_9f8816b524b54df2aae5cf4d86a58e6d~mv2.png"/>
                    <h5 class="video-title">The Challenge</h5>
                    <p class="video-description">Analyzing customer behavior and creating any scenario in the store using VR platform technology. This platform is useful for conducting customer behavior research without spending a lot of investment and time. </p>
                    <img class="img-fluid porto-media" src="https://static.wixstatic.com/media/0a6e18_7e08ba6be76f454fa7673e0801579363~mv2.png/v1/fill/w_600,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/0a6e18_7e08ba6be76f454fa7673e0801579363~mv2.png"/>
                    <h5 class="video-title">The Solution</h5>
                    <p class="video-description">A complete Virtual Reality Platform for analyzing customer behavior in the mini markets and supermarket stores. The researcher can make their scenario to create shelves and put products. After that researcher can analyze the result using a heat map and also ‘time to pick up’ calculation. Core features: Movement and Eye-Tracking, Virtual Token/Money, Virtual Shopping Experience, Adjustable Product Positioning and Scenario, Heatmap and Data Analytics. </p>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-HuqC6WOfD4?si=Rj3M7uiX_8DGaqrA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <h5 class="video-title">My Contributions</h5>
                    <p class="video-description">1. Co-Develop using Unreal Engine</p>
                    <p class="video-description">2. Develop the heatmap system and capturing the experience data (gaze, navigation, point of interest, and other timing data)</p>
                    <p class="video-description">3. Design UI/UX </p>
                    <h5 class="video-title">Results</h5>
                    <p class="video-description">Achieve 76.62% cost efficiency and 33.81% profit optimizations using VR solution rather than traditional ones.</p>
                    </div>
                </div>
              </div>