			<div id="inline-porto-codename-mindvoke" class="modal-dialog lity-hide">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title video-title">Codename: mindVoke</h3>
                  </div>
                  <div class="modal-body overflow-auto">
                    <h5 class="video-title">About</h5>
                    <p class="video-description">Codename: mindVoke is more than just a shooter. It is an immersive experience that combines intense gunplay with stunning post-modern surrealist art. We are committed to pushing the boundaries of VR technology to create a game that truly allows players to explore the limits of their imagination.</p>
                    <img class="img-fluid porto-media" src="img/porto-codename-mindvoke-2.jpeg"/>
                    <img class="img-fluid porto-media" src="img/porto-codename-mindvoke-3.jpeg"/>
                    <img class="img-fluid porto-media" src="img/porto-codename-mindvoke-4.jpeg"/>
                    <h5 class="video-title">The Challenge: Building a Thrilling and Accessible Experience</h5>
                    <p class="video-description">We're creating a fast-paced and strategic battle experience that keeps players hooked. Here's what we're focusing on:</p>
                    <p class="video-description"> - Intense, Streamlined Gameplay: We want players to focus on the action, not a cluttered interface. We'll use a clear and simple user interface (UI) with easy-to-understand controls and information.</p>
                    <p class="video-description"> - Smooth and Responsive Gameplay: Smooth gameplay is key! We'll optimize the connection for a lag-free experience, even with a high number of players.</p>
                    <p class="video-description"> - Easy to Learn, Hard to Master Weapons: Our weapons will be intuitive and easy to pick up, but offer depth and mastery for dedicated players.</p>
                    <img class="img-fluid porto-media" src="img/porto-codename-mindvoke-1.jpeg"/>
                    <h5 class="video-title">Why this matters?</h5>
                    <p class="video-description">Many arcade-style games struggle with player retention. We want to create a game that people get hooked on, keep coming back to, and enjoy mastering. By focusing on these challenges, we'll deliver a truly engaging experience for players of all skill levels.</p>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kQ3R4ECLnzg?si=mx153zvYNB06r7bR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
            </div>