              <div id="inline-porto-cosmize" class="modal-dialog lity-hide">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title video-title">COSMIZE</h3>
                  </div>
                  <div class="modal-body overflow-auto">
                    <img class="img-fluid porto-media" src="img/porto-cosmize-0.webp"/>
                    <h5 class="video-title">About</h5>
                    <p class="video-description">The name "COSMIZE" is a combination of Cosmos and Customize, where everybody can create and customize their own cosmic imagination. This platform allows for creating community activities, events, quests, and more possibilities in the future. It is a place for making imagination become reality, to embrace the spirit of decentralization through community-driven activities.</p>
                    <p class="video-description">Not only chat with friends, you can also enjoy limited-time events held in special spaces in collaboration with famous brands and companies.</p>
                    <br>
                    <h5 class="video-title">The Challenge</h5>
                    <p class="video-description">The Metaverse has skyrocketed in popularity, poised to become humanity's second world. It's not just an escape from reality; it's a canvas where people can fully express themselves and turn their wildest imaginations into tangible experiences within a vibrant community setting. We envision an ecosystem where individuals can harness the power of their second reality, empowered by blockchain technology to ensure transparency and trust. Our goal is to foster a space where creativity flourishes, enabling communities to craft their own digital goods and shape the Metaverse into a dynamic playground of endless possibilities.</p>
                    <img class="img-fluid porto-media" src="img/porto-cosmize-3.webp"/>
                    <h5 class="video-title">The Solution</h5>
                    <p class="video-description">Introducing COSMIZE Metaverse, "A place for connecting your passion". Within COSMIZE, users have the freedom to host events, personalize avatars, and create unique virtual spaces—all seamlessly integrated with an EVM-based blockchain for unparalleled transparency and security.</p>
                    <img class="img-fluid porto-media" src="img/porto-cosmize-4.webp"/>
                    <img class="img-fluid porto-media" src="img/porto-cosmize-5.webp"/>
                    <h5 class="video-title">My Contributions</h5>
                    <p class="video-description">1. Designing the solution, combining all SHINTA VR products into a single platform</p>
                    <p class="video-description">2. Leading the blockchain development and syncing blockchain to the game by building our own infrastructure to sync Web3 and Web2 data.</p>
                    <p class="video-description">3. Project Management of this complex product</p>
                    <p class="video-description">4. CI/CD and development efficiency by automating tasks</p>
                    <h5 class="video-title">Results</h5>
                    <p class="video-description">COSMIZE has been perceived as a metaverse that is good-looking and above standard even by Japanese. They were impressed with our quality and bunch of features inside.</p>
                    <h5 class="video-title">The Pioneer Metaverse on Astar Network</h5>
                    <p class="video-description">We leverage Astar Chain to build and engage a passionate community, creating a dynamic hub frequently utilized by leading IPs and brands such as Toyota, Hakuhodo, and Mizuho Bank.</p>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZjJkGBSw6z0?si=UluOu8_KfZsNwrId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <h5 class="video-title">The Room Creation</h5>
                    <p class="video-description">In Room, you can freely arrange furniture. Here we explain basic operations such as placing, editing, and deleting furniture.</p>
                    <img class="img-fluid porto-media" src="https://cosmize.gitbook.io/~gitbook/image?url=https:%2F%2F2174159331-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252F2KiCdYDNQGt16i1Uzydp%252Fuploads%252Ftz9McQZ0YCpadT7ZergK%252Fhow%2520to%2520edit%2520room%25203.png%3Falt=media%26token=78f6d3f3-8de0-46d6-b01f-6c7a999b2776&width=768&dpr=4&quality=100&sign=53b899d1270ff20c6e76af1dcbdd4625e6c2bf863ab4555840ebc23dee0939f1"/>
                    <h5>More detailed information about COSMIZE</h5>
                    <p>Please access our <a href="https://cosmize.gitbook.io/cosmize">Gitbook</a> to learn more information about this project.</p>
                  </div>
                </div>
              </div>