              <div id="inline-porto-millealab" class="modal-dialog lity-hide">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title video-title">Millealab</h3>
                  </div>
                  <div class="modal-body overflow-auto">
                    <h5 class="video-title">About</h5>
                    <p class="video-description">MilleaLab is an all-in-one Virtual Reality (VR) platform that supports you to create and access educational content based on 3D and Virtual Reality (VR) easily, quickly and affordably.</p>
                    <img class="img-fluid porto-media" src="img/porto-millealab-1.webp"/>
                    <img class="img-fluid porto-media" src="img/porto-millealab-2.webp"/>
                    <h5 class="video-title">The Challenge</h5>
                    <p class="video-description">VR offers promising opportunities to enhance students' learning experiences by improving comprehension, focus, and emotional engagement with the content. However, its potential is hindered by the high cost and technical expertise required to create VR content, limiting accessibility for educators without programming or 3D modeling skills.</p>
                    <img class="img-fluid porto-media" src="img/porto-millealab-3.webp"/>
                    <img class="img-fluid porto-media" src="img/porto-millealab-4.webp"/>
                    <img class="img-fluid porto-media" src="img/porto-millealab-5.webp"/>
                    <h5 class="video-title">The Solution</h5>
                    <p class="video-description">Introducing a revolutionary platform: no-coding VR creation accessible on medium-spec computers with 2GB RAM, featuring thousands of educational 3D assets, cloud integration, and an affordable subscription model.</p>
                    <img class="img-fluid porto-media" src="img/porto-millealab-creator-1.webp"/>
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-OD1EQ2Cw5A?si=OCKDR1uzsYDPfeHJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>